

.mainDiv{
    margin: auto;
    margin-top: 3%;
    height: 900px;
    width: 85%;
    background-color: rgb(36, 36, 36);
}

.fonts{   
    height: 130px;
    display: flex;
    justify-content: space-between;
    border: 1px solid rgb(59, 59, 59);
}

.fonts>div{
    width: 10%;
    border-radius: 50%;
}