
.fonts{
    margin: auto;
    height: 140px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    border: 1px solid rgb(15, 15, 15);
}

.fonts>div{
    width: 10%;
    border-radius: 50%;
    border: 1px solid rgb(141, 7, 7);
}