

.navDiv{
    margin: auto;
    margin-top: 2%;
    height: 50px;
    width: 60%;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

.navDiv>li{
    list-style: none;
    color: white;
}

.greyBox{
    height: 25px;
    background-color: rgb(97, 95, 95);
}